<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<h1>Problem C. 피곤한 한동이</h1>
<div style="font-size:medium; line-height:30px;" id="problem_description">
<p> 
한동이에게는 시험을 치기까지, 오늘을 포함하여 N일이 남아있다. 한동이는 특이체질을 가지고 있어서 3일 연속으로 공부를 하면 머리가 아파서 병원에 가야한다. 한동이의 공부 계획표가 주어 질 때, N일 동안 한동이가 병원에 실려가지 않고 공부 할 수 있는 최대의 시간을 구하는 프로그램을 작성하라.
<br /><br />

<h2>입력</h2>

- 입력은 input.txt로 주어진다.<br>
- 입력의 첫째 줄에는 시험까지 남은 일수인 정수 N이 주어진다.<br /><br />
0 < N <= 1000<br /><br />
- 입력의 둘 째 줄에는 한동이의 공부 스케줄인 N개의 정수 K가 공백을 사이에 두고 주어진다.<br />
- 이는 한동이가 각 날에는 K시간 공부를 한다는 의미이다.<br /><br />
0 < K <= 24 <br /><br />

<h2>출력</h2>

- 한동이가 병원에 실려가지 않고 최대로 공부 할 수 있는 날짜를 택했을 때, 각 날에 공부 가능한 시간의 합을 구하여 output.txt에 한 개의 정수로 출력하라. <br />

</p>
<h4>Sample Input</h4>
<p>
10<br>
5 8 9 2 6 3 4 7 8 10
</p>
<h4>Sample Output</h4>
<p>45</p>
<form method="get" action="problemC/download">
<button type="submit">Download the input</button>
</form>
<form action="problemC/fileupload" method="post" enctype="multipart/form-data">
<input type="file" name="filetoupload"><br>
<input type="submit">
</form>
</body>
</html>
