<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<h1>COCO</h1>
<p>한동대학교 전산전자공학부 배 2017년 1학기 코딩 대회</p>
<p>제시된 8개의 문제를 풀면 됩니다</p>
<p>입력을 다운로드 받아서 해당 입력에 대한 출력을 작성 한 후, 해당 출력을 제출하시면 프로그램이 정답 여부를 판별합니다.</p>
<p>정답 여부는 즉시 판별되고 만일 문제가 맞았다고 나왔는데 정답여부가 이상할 경우 새로고침 해주세요</p>
<button onclick="redirectA()">Problem A</button>
<script>
function redirectA() {
    window.location.href = "/problemA";
}
</script>
<button onclick="redirectB()">Problem B</button>
<script>
function redirectB() {
    window.location.href = "/problemB";
}
</script>
<button onclick="redirectC()">Problem C</button>
<script>
function redirectC() {
    window.location.href = "/problemC";
}
</script>
<button onclick="redirectD()">Problem D</button>
<script>
function redirectD() {
    window.location.href = "/problemD";
}
</script>
<button onclick="redirectE()">Problem E</button>
<script>
function redirectE() {
    window.location.href = "/problemE";
}
</script>
<button onclick="redirectF()">Problem F</button>
<script>
function redirectF() {
    window.location.href = "/problemF";
}
</script>
<button onclick="redirectG()">Problem G</button>
<script>
function redirectG() {
    window.location.href = "/problemG";
}
</script>
<button onclick="redirectH()">Problem H</button>
<script>
function redirectH() {
    window.location.href = "/problemH";
}
</script>
</body>
</html> 
